<!DOCTYPE html>
<html>

<head>
	<link href= "../public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<style>

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row {
    margin-left: 85px;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(179, 217, 245);
  height: 450px;
}
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 450px;
  padding: 20px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

</style>

<body>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div id="mySidebar" class="sidebar" onmouseover="openSidebar()" onmouseout="closeSidebar()">
  <a href="/about"><span><i class="material-icons">info</i><span class="icon-text">about</span></a><br>
  <a href="/sensor"><i class="material-icons">accessibility_new</i><span class="icon-text"></span>sensor</a></span>
  </a><br>
  <a href="/theteam"><i class="material-icons">person</i><span class="icon-text"></span>the team</span></a><br>
</div>	
<div id="main">
	<h1>
		<header>ALIGN</header>
		<header2>about the product</header2>
	</h1>
</div>
<div class="row">
    <div class="column">
        <div class="card2">
            <div class="container">
				<bigtext>What is Align?</bigtext>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
            	<team >Align is a posture detector which uses accelerometer and gyroscope data to alert users if they have bad posture.</team>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
            	<team>After placing the sensor on the nape of your neck, our technology will identify when you have bad posture and alert you both on the "sensor" page and with a gentle vibration.</team>
            </div>
        </div>
    </div>
	<div class="column">
        <div class="card2">
            <div class="container">
            <bigtext>How does Align work?</bigtext>
            </div>
        </div>
    </div>
    
</div>

</body>


<script src="https://d3js.org/d3.v7.min.js"></script>

<script type="application/javascript">
	var slouch = 0
	const SERVERADDRESS = "http://127.0.0.1:3000"
	// use XML HTTP request to grab data from the server (central)
	let xmlhttp = new XMLHttpRequest()
	let BendDown = false 
	let BendUp = false
	let BDthresh = -50
	let BUthresh = 50
	var slouchThresh = -0.95;
	let SlouchPolicy = true
	var prevAx = -1.0;
	xmlhttp.onreadystatechange = function () {


		if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			let responseText = xmlhttp.responseText
			let Ax = parseFloat(JSON.parse(responseText).sensorValue)
			let Gy = parseFloat(JSON.parse(responseText).sensorValue5)

			if (!BendDown && !BendUp) {
				// you're bending down
				if (Gy < BDthresh) {
					BendDown = true
					slouch = 0
					console.log("Bent down from nothing, Ax: "+Ax+" Gy: "+ Gy)
					d3.select("card3").style("background-color", "rgb(253,253,150)")
				}

				
				// you're bending up
				else if (Gy > BUthresh) {
					BendUp = true
					slouch = 0
					console.log("Bent up from nothing, Ax: "+Ax+" Gy: "+ Gy)
					d3.select("card3").style("background-color", "rgb(253,253,150)")
				}
				

				// you are not bending
				else {
					SlouchPolicy = true
					console.log("No bend, Ax: "+Ax+" Gy: "+ Gy)
				}
			} 
			else if (BendDown && !BendUp) {
				// you've bent down and are bending up
				slouch = 0
				if (Gy > BUthresh) {
					BendUp = true
					console.log("Bent up after bending down, Ax: "+Ax+" Gy: "+ Gy)
					d3.select("card3").style("background-color", "rgb(253,253,150)")
				}
			}

			
			else if (!BendDown && BendUp) {
				slouch = 0
				// you're still bending up
				if (Gy < BUthresh) {
					BendUp = false
					console.log("Done bending up, Ax: "+Ax+" Gy: "+ Gy)
					d3.select("card3").style("background-color", "rgb(253,253,150)")
				}
			}

			if (BendDown && BendUp) {
				BendDown = false
				BendUp = false
				//SlouchPolicy = true
				console.log("Bent resolved, going into normal logic, Ax: "+Ax+" Gy: "+ Gy)
			}
			
			if (SlouchPolicy && !BendDown && !BendUp) {
				// run the policy
				//Ensure we are in a valid range compared to the previous reading
				if(Ax > slouchThresh) {
					d3.select("card3").style("background-color", "rgb(255,105,97)")
					slouch = 1;
				} else {
					d3.select("card3").style("background-color", "rgb(119,221,119)")
					slouch = 0;
				}
				SlouchPolicy = false
			}

			/*
			//If at any point Ax<-0.9 we should not be slouching
			if(Ax<slouchThresh && slouch == 1){
				d3.select("card3").style("background-color", "rgb(119,221,119)")
				slouch = 0;
				console.log("Something ain't right, Ax: "+Ax+" Gy: "+ Gy)
			}
			*/


			}
		}
	

	// periodically grab data
	let getData = () => {
		var params = JSON.stringify({slouch: slouch});
		xmlhttp.open("POST", SERVERADDRESS, true)
		xmlhttp.setRequestHeader("Content-Type","application/json")
		//xmlhttp.setRequestHeader("Content-length", params.length);
		xmlhttp.send(params)

		setTimeout(() => {
			getData()
		}, 10)
	}
	getData()

	let openSidebar = () => {
		console.log("opening sidebar");
		document.getElementById("mySidebar").style.width = "250px";
		document.getElementById("main").style.marginLeft = "250px";
	}

  let closeSidebar = () => {
    console.log("closing sidebar");
		document.getElementById("mySidebar").style.width = "85px";
		document.getElementById("main").style.marginLeft = "85px";
  }
</script>

</html>